name: NoVnc
cleaninterval: 1000*60*60*24*7
catch_rules: 
    - rule: _ 
      transform_rules: 
            - search: \#.*
              searchin: url 
              replace: ''
            - search: \?.* 
              replace: ''
            - search: _
              replace: cyanfalse-mirror.onmicrosoft.cn/page/noVNC-1.3.0
